@keyframes slide {
  0% {
    transform: translateX();
  }
  100% {
    transform: translateX(-100%);
  }
}
.container {
  max-width: 810px;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  gap: 30px;
}
.list {
  animation: 25s slide infinite linear;
  display: inline-block;
  width: 1200px;
}
